<!DOCTYPE html>
<html>
<head>

	  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cinema Calendar</title>
	    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <lin href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <script src="bower_components/angular/angular.min.js"> </script>
    <script src="app/js/app.js"> </script>

    <link href="app/css/ccstyles.css" rel="stylesheet">
</head>

<body  ng-app="cinemaCalendar">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img id="nav-logo" src="app/images/nav/logo.jpg" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav" >
                    <li class="ccnav">
                        <a class="active" href="#">Movies</a>
                    </li>
                    <li class="ccnav">
                        <a href="#">News</a>
                    </li>
                    <li class="ccnav">
                        <a href="#">Movie Calendar</a>
                    </li>
                     <li class="ccnav">
                        <a href="#">Trending Memes</a>
                    </li>
                     <li class="ccnav">
                        <a href="#">Reviews</a>
                    </li>
                     <li class="ccnav">
                        <a href="#">Trailers</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Jumbotron-->
    <div class="pageheader">
    	
<div class="jumbotron">
    <div class="container">
    <div class="row">
    <div class="col-md-7 col-xs-8 jumbocontent">
<h1 id="jumbotitle">Cinema Calendar</h1> 
  <p>An ultimate experience with details of all the Tamil movies </p>
  </div>  <!-- Jumbocontent -->
 
    <div class="col-md-4 col-xs-4 promo">
  <p> This part will contain some promo </p>
    </div>


</div> <!-- Row -->
</div> <!--Container-->
</div> <!--Jumbotron-->
</div> <!--Page Header-->


<div class="container">
  <div class="cc-heading">
    <h2 class="CCHeading"><strong>Latest Movies</strong> </h2>
  </div> <!-- Heading -->
 </div> <!-- Container -->

    <div class="container pins" id="Pin"  ng-controller="PinCtrl">
        <div class="row">
             <div class="col-md-3 " ng-repeat="pin in pins">
              <div class="pinc">
               <h4 class="pin-title" id="MovieTitle" ng-model="pin.pinTitle"><center>{{pin.pinTitle}}</center> </h4>
                   <div class="pin-image" >
                     <img id="PinImage" src='{{pin.imgSource}}'></img>
                   </div>
                     
                      <div class="pin-ratings" >
                          <div class="ratec"> 
                        <div class="row" id="RatingNo">
                        <div class="col-md-3 " ng-repeat="rate in pin.pinRatings">
                         
                         <img id="RateImage" style="width:50px;height:50px;" src='{{rate.rateURL}}'>
                         <span class="rate-no"> {{rate.rating}}</span></img>
                         
                        </div>
                        </div>
                        </div> <!-- Rating No. Row-->
                         
                       
                        </div>  <!-- Pin Rating -->

                           <div class="pin-boxoffice">
                             <h4 class="box-heading" ><strong>Box Office</strong>
                             </h4> <span class="pinbo"> {{pin.boxOffice}}</span> 
                            </div>

                              <div class="pin-summary">
                                
                                <span class="summary"> {{pin.pinSummary}} </span>
                              
                              </div>

                                <div class="pin-button">
                                   <a  href="#"> <button class="pinbutlink" type="button" id="movie-button" >Click Here!</button></a>
                                </div>

                              </div> <!-- Pinc Div-->

            </div> <!-- col-sm-3 -->


        </div> <!--  Row-->
    </div> <!-- Container-->


    <div class="container">
  <div class="cc-heading">
    <h2 class="CCNewsHeading"><strong>Latest News</strong> </h2>
  </div> <!-- Heading -->
 </div> <!-- Container -->
 
 <div class="container news" ng-controller="NewsCtrl"> <!-- News -->
  <div class="row"> 
    <div class="col-md-2" ng-repeat="new in news">
        <div class="newsc">
        <div class="news-heading">
           <a class="newsheading"> <span class="newsheadings">{{new.newsTitle}}
           </span> </a>
        </div> <!--Heading-->
       <div class="news-image">
          <img class="img-rounded newsimage" src='{{new.imgSource}}'></img>
      </div> <!--Image-->
      <p class="news-source text-right"> <em> {{new.newsSource}} </em> </p>
       <div class="news-description">
        <span="newsdescription" > {{new.newsDesc}} </span>
    
        </div> <!-- News Description -->

        <div class="news-button">
            <a  href="#"> <button class="newsbutlink" type="button" id="movie-button" >more</button></a>
          </div> <!-- Button -->
<!--GIT comment -->

     </div> <!-- Newsc -->
    </div> <!-- Col -->


  </div> <!--Row -->
 </div> <!-- News Container -->


 <div class="container">
  <div class="cc-heading">
    <h2 class="CCNewsHeading"><strong>Cinema Calendar</strong> </h2>
  </div> <!-- Heading -->
 </div> <!-- Container -->


    <div class="container">
     <p> Random Stuff </p>
     <p> Random Stuff </p>
     <p> Random Stuff </p>
     <p> Random Stuff </p>
     <p> Random Stuff </p>
     <p> Random Stuff </p>
     </div> 

</body>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</html>